.logo__link{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .8rem;
    transition: scale .3s ease-in-out;
}

.logo__image{
    width: 45px;
}

.logo__textContainer{
    display: none;
}

.logo__text{
    line-height: 1.1;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 700;
}

/* ---------- RESPONSIVE ---------- */

@media screen and (min-width: 480px){
    .logo__textContainer{
        display: flex;
        flex-direction: column;
    }
}